{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="media" style="margin-top: 100px">
  <img src="{% static 'img/open-graph.png' %}" class="mr-3" alt="...">
  <div class="media-body">
    <h5 class="mt-0">Open Graph</h5>
    <div class="row">
        <p style="text-align: justify; margin-right: 50px">
            Définition du protocole Open Graph
Le définition officielle du protocole Open Graph indique
que c'est un protocole qui permet à une page web de devenir
un objet "riche" dans un réseau social.

Plus concrètement, le protocole Open Graph est un ensemble
de balises qui permet à un webmaster de donner aux principaux
réseaux sociaux (Facebook, Google +, Twitter, Linked in...)
des informations précises sur ses pages.
Ces informations permettront aux réseaux sociaux
de mieux afficher un lien sur une ces pages qui aurait
été placé par leur utilisateurs.

Le protocole Open Graph a été crée à l'origine par
Facebook et est désormais géré par l'Open Web Fondation.
        </p>
    </div>
  </div>
</div>
{% endblock content %}